@charset "UTF-8";
:root {
  --white-color: #ffffff;
  --black-color: #212121;
  --blue-color: #2196f3;
  --basic-text-color: #757575;
  --section-order-service: #2f303a;
  --icon-background: #f5f4fa;
  --clients-icon-color: #afb1b8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --placeholder-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--white-color);
  color: var(--basic-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 94px 0px;
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-bottom: 50px;
  margin-top: 0px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.button {
  background-color: var(--blue-color);
  color: var(--white-color);
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.8;
  font-size: 16px;
  letter-spacing: 0.06em;
  border: var(--blue-color);
  border-radius: 4px;
  text-align: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--blue-color);
  color: var(--white-color);
  cursor: pointer;
  opacity: 0.7;
}

.footer--button--position {
  text-align: start;
  padding: 0px 28px;
  margin-left: 12px;
  position: relative;
}

.footer__button--icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* Кнопки портфолио */
.button__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0px;
  margin: 0px;
  margin-bottom: 50px;
  gap: 8px;
}

.button__item {
  font-family: inherit;
  background-color: #f5f4fa;
  color: var(--black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__item:hover,
.button__item:focus,
.button__item:active {
  background-color: var(--blue-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.modal--button {
  display: block;
  margin: auto;
  margin-bottom: 40px;
}

.modal--button:hover {
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.button__close:hover,
.button__close:focus {
  fill: var(--blue-color);
}

.logo {
  color: var(--blue-color);
  font-family: "Raleway";
  font-size: 26px;
  margin-right: 92px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.black--text {
  color: var(--black-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo .black--text:hover,
.logo .black--text:focus,
.logo .black--text:active {
  color: var(--blue-color);
}

.footer__logo {
  margin-right: 88px;
}

.white--text {
  color: var(--white-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__logo .white--text:hover,
.footer__logo .white--text:focus,
.footer__logo .white--text:active {
  color: var(--blue-color);
}

.header {
  padding: 24px 0px;
  width: 100%;
  background-color: var(--white-color);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0%;
  margin: 0%;
}

.nav__item {
  position: relative;
  margin: 4px 25px;
}

.header-line .header__link.current::after {
  position: absolute;
  content: "";
  top: 44px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--blue-color);
  border-radius: 2px;
}

.header__link {
  color: var(--black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  color: var(--blue-color);
}

.header__link.current {
  color: var(--blue-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0%;
  padding: 4px 0px;
  margin-left: auto;
}

.header__list li:not(:last-child) {
  margin-right: 50px;
}

/*  Конверт и телефон */
.header__link--grey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link--grey {
  color: var(--basic-text-color);
}

.smartphone,
.envelope {
  margin-right: 10px;
  fill: currentColor;
}

.envelope {
  width: 16px;
  height: 12px;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.main__section {
  max-width: 100%;
  max-height: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--section-order-service);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Basic poster.jpg");
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Basic poster.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__title {
  color: var(--white-color);
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px auto 30px;
}

.information__list {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--basic-text-color);
  letter-spacing: 0.03em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: start;
  margin: auto;
  padding-left: 0px;
}

.information__item::before {
  display: block;
  content: "";
  background-color: var(--icon-background);
  width: 270px;
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.icon-first::before {
  background-image: url(../images/icon/antenna\ 1.svg);
}

.icon-second::before {
  background-image: url(../images/icon/clock\ 1.svg);
}

.icon-three::before {
  background-image: url(../images/icon/diagram\ 1.svg);
}

.icon-four::before {
  background-image: url(../images/icon/astronaut\ 1.svg);
}

.information__item:not(:last-child) {
  margin-right: 30px;
}

.information__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-color);
  margin: 30px 0px 10px;
}

.information__description {
  margin: 0px;
}

.section--padding-top {
  padding-top: 0px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding-left: 0px;
  gap: 30px;
}

.card__item {
  position: relative;
}

.card__title::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  opacity: 0.3;
}

.card__item p {
  position: absolute;
  content: "";
  margin: 0px;
  left: 83px;
  bottom: 27px;
  z-index: 1;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team--background {
  background: var(--icon-background);
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0px;
  margin: 0px;
}

.team .team__item {
  background-color: var(--white-color);
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__description {
  padding: 30px 0px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--black-color);
  margin: 0px;
  margin-bottom: 10px;
}

.team__title {
  font-size: 16px;
  line-height: 1.18;
  color: var(--basic-text-color);
  margin: 0px;
  padding-bottom: 16px;
}

.team__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  padding-left: 0px;
  gap: 10px;
}

.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
  fill: currentColor;
  color: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:hover,
.team__link:focus {
  background-color: var(--blue-color);
  fill: var(--white-color);
}

.team__icon svg {
  width: 20px;
  height: 20px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
  padding-left: 0px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--clients-icon-color);
  border-radius: 4px;
  fill: var(--clients-icon-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--blue-color);
  fill: var(--blue-color);
}

.clients__link svg {
  width: 106px;
  height: 60px;
}

.project__list {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}

.project__item {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-right: 30px;
  margin-top: 30px;
  margin-left: 0px;
}

.project__link {
  display: block;
  border: 1px solid #eeeeee;
  cursor: pointer;
}

.project__link:hover,
.project__link:focus,
.project__link:active {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover .thumb-text,
.project__link:hover .cards-thumb::before,
.project__link:focus .thumb-text,
.project__link:focus .cards-thumb::before {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.project__description {
  margin: 0px;
  padding: 20px 24px;
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
  margin: 0px;
  padding-bottom: 4px;
}

.project__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--basic-text-color);
  margin: 0px;
}

.cards-thumb {
  position: relative;
  overflow: hidden;
}

.cards-thumb::before,
.thumb-text {
  position: absolute;
  content: "";
  top: 100%;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 250ms var(--cubic);
  transition: -webkit-transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
}

.cards-thumb::before {
  background: rgba(33, 150, 243, 0.9);
}

.thumb-text {
  padding-top: 62px;
  padding-left: 0px;
  -webkit-transform: translateY(4%);
          transform: translateY(4%);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer {
  background-color: var(--section-order-service);
  padding: 60px 0px;
}

.footer__inner {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin: 20px 0px 9px;
  color: var(--white-color);
}

.footer__list {
  padding-left: 0px;
  margin: 0px;
}

.footer__list .footer__link {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__list li:not(:last-child) {
  margin-bottom: 6px;
}

/* Иконки футера */
.footer--icon {
  margin-left: 76px;
}

.footer--title--color {
  color: var(--white-color);
  margin: 0px 0px 20px;
}

.footer--icon--background {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
}

/* Подписаться */
.footer-subscribe {
  margin-left: 92px;
}

.footer-form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer__input {
  width: 358px;
  height: 50px;
  padding: 0px 16px;
  color: var(--white-color);
  background: var(--section-order-service);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;
  letter-spacing: 0.03em;
  /* outline: 1px solid red; */
}

.footer__input::-webkit-input-placeholder {
  color: var(--placeholder-color);
}

.footer__input::-moz-placeholder {
  color: var(--placeholder-color);
}

.footer__input:-ms-input-placeholder {
  color: var(--placeholder-color);
}

.footer__input::-ms-input-placeholder {
  color: var(--placeholder-color);
}

.footer__input::placeholder {
  color: var(--placeholder-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 580px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--white-color);
  border-radius: 4px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.modal-form {
  /* outline: 1px solid rebeccapurple; */
  margin: 2.5rem 2.5rem 0;
}

.modal--title--position {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  /* outline: 1px solid red; */
}

.modal__wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal__input {
  width: 100%;
  height: 48px;
  padding: 12px 16px 12px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  -webkit-transition: border 250ms var(--cubic);
  transition: border 250ms var(--cubic);
}

.modal__input:hover,
.modal__input:focus {
  border: 1px solid var(--blue-color);
}

.modal__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--black-color);
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}

.modal__input:focus + .modal__icon,
.modal__input:hover + .modal__icon {
  fill: var(--blue-color);
}

.modal__coment {
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  cursor: pointer;
  -webkit-transition: border 250ms var(--cubic);
  transition: border 250ms var(--cubic);
  outline: none;
}

.modal__coment::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__coment::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__coment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__coment::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__coment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__coment:hover,
.modal__coment:focus {
  border: 1px solid var(--blue-color);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
  margin-bottom: 30px;
  /* outline: 1px solid red; */
  position: relative;
}

.checkbox__label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 1rem;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.fakeframe,
.fakeicon {
  width: 16px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 7px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 250ms var(--cubic);
  transition: opacity 250ms var(--cubic);
}

.fakeframe {
  border: 2px solid var(--black-color);
  border-radius: 2px;
  opacity: 1;
}

.checkbox__input:checked ~ .fakeframe {
  opacity: 0;
}

.fakeicon {
  opacity: 0;
}

.checkbox__input:checked ~ .fakeicon {
  opacity: 1;
}

.checkbox__input:checked ~ .fakeframe {
  opacity: 0;
}

.checkbox__input:focus-visible ~ .fakeframe {
  border: 2px solid var(--blue-color);
}

.checkbox__link {
  text-decoration: underline;
  margin-left: 0.5rem;
  /* outline: var(--blue-color); */
  color: var(--blue-color);
}/*# sourceMappingURL=main.css.map */