.logo {
    color: var(--blue-color);
    font-family: "Raleway";
    font-size: 26px;
    margin-right: 92px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.black--text {
    color: var(--black-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo .black--text:hover,
.logo .black--text:focus,
.logo .black--text:active {
    color: var(--blue-color);
}

// Футер
.footer__logo {
    margin-right: 88px;
}

.white--text {
    color: var(--white-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__logo .white--text:hover,
.footer__logo .white--text:focus,
.footer__logo .white--text:active {
    color: var(--blue-color);
}