.team--background {
    background: var(--icon-background);
}

.team {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    margin: 0px;
}

.team .team__item {
    background-color: var(--white-color);
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__description {
    padding: 30px 0px;
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--black-color);
    margin: 0px;
    margin-bottom: 10px;
}

.team__title {
    font-size: 16px;
    line-height: 1.18;
    color: var(--basic-text-color);
    margin: 0px;
    padding-bottom: 16px;
}